NEXT_PUBLIC_SUPABASE_URL=https://mwuwckheltjeocgjbetu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13dXdja2hlbHRqZW9jZ2piZXR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5NDk1MTAsImV4cCI6MjA3NTUyNTUxMH0.XE-UY7FrJJKJrwiULYg10sfZwhINljUBJahWu1ErJAg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13dXdja2hlbHRqZW9jZ2piZXR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTk0OTUxMCwiZXhwIjoyMDc1NTI1NTEwfQ.M1sbD3Haa9zxwNIJIJRZo1Ikc_ur6GwnjWcX2djXPTk
DATABASE_URL=postgres://user:password@localhost:5432/db
